html{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color:black
}

section {
    display: flex
}
.nav-container-logo{
    margin-left: 50px;
    border-radius:10px;
}
body{
    background-color: white;
}

input{
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #E0FFFF;
  border-color: #1E90FF;
  border-radius:5px;
  width: 275px;
  height:45px;
  color:#1E90FF;
  font-size:17px;
}
.hidden {
	display: none;
}


.sessionHomeLink{
    width:10px;
}
.navSignIn{
    // text-decoration:  none;
    border: 1px solid blue;
    margin-right: 25px;
    color: lightblue;
    font-size: 14px;
    padding:3px;
    vertical-align: center;
    display:flex;
    flex-direction: row;
}
.navSignIn > a{
    font-weight:500;
    margin-top:7px;
    color:blue;
}
.pfp{
    right:15px; 
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:50px;
    background-color: white;
    pointer-events: none;
    width: 30px;
    height: 25px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
li {
  padding: 8px 12px;
  text-decoration: none;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

///////////////////Video index
.videoIndexContainer{
    display:flex;
    flex-wrap: wrap;
    width:83%;
    height:98%;
    align-items: center;
    padding-top:75px;
    column-count: 4;
    padding-left:325px;
    background-color:GhostWhite;
}
.indexVideoDetails{
    display:flex;
}
.videoIndexItem{
    width:350px;
    height:350px;
    margin: 1px;
    font-size:14px;
    // padding-bottom:30px;
    padding-left:15px;
    background-color:ghostwhite;
}
.thumbnail{
    width:100%;
    height:200px;
    display:block;
}
.videoDetails{
}
.videoTitle{
    width: 100%;
    flex-wrap: wrap;
    font-size:16px;
    font-weight:500;
    height:1%;
    max-height: 15px;
}
.videoUploader{
    text-transform: capitalize;
    margin-bottom: -3px;
    float:left;
}
.indexPfp{
    display:flex;
    border-radius:50px;
    background-color: ghostwhite;
    // pointer-events: none;
    margin-top:30px;
}
.indexPfp > img {
    width: 45px;
    height: 35px;
    margin-left:7px;
}
.videoIndexItemText{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-left:20px;
    overflow:hidden;
    margin-top: 0;
}
.videoStats{
    display:flex;
    flex-direction: row;
    margin-top: -10px;
}
.videoStats > p{
    padding-right:10px;
}







////////////Video show
.videoContainer{
    padding-top:75px;
    padding-left:100px;
    width: 80.5%;
    
}
.showTitle{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 525;
    height:1px;
}
.showDetails{
    display:flex;
    border-bottom: 1px solid grey;
    font-size:16px; 
    justify-content: space-between;
    
}
.showUnderVideo{
    margin-top:20px;
    display:flex;
    vertical-align: top;
    border-bottom: 1px solid grey;
}
.showPfp{
    height:48px;
    width:48px;
}
.userDescription{
    margin-left:15px;
    height:160px;
}
.showUser{
    margin-top:2px;
    text-transform: capitalize;
    font-weight:549;
    font-size:15px;
    padding-bottom:40px;    
}
.video-react-poster{
}





.dropPfp{
    position:relative;
    margin-top:5px;
    width: 30px;
    height: 25px;
}


//////////////Session
.login-form-container{
    margin: 0% auto;
    border: 1px solid grey;
    width: 550px;
    height: 550px;
    margin-top: 200px;
    border-radius: 15px;
}
.login-form-box{
    width:100%;
    margin: 0% auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom:50px;
}
.login-input{
    padding-left:20px;
}
.login--logo{
    padding-top:15px;
    display:flex;
    align-items:center;
    margin: 0% auto;
    width:100px;
    height:75px;
}
.formLinks{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0px;
    top:10px;
    margin-top:18px;
    flex-direction: row;
    
}
.formLinks > a {
    text-decoration: none;
    color: #1E90FF;
    border-radius: 5px;
    width: 150px;
    display: flex;
    text-align: center;
    flex-direction: column;
    top:50%;
    font-weight: bolder;
}

.session-submit{
    display:block;
    background-color: #1E90FF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width:75px;
    height:40px;
    margin: 0% auto;
    text-align: center;
    margin-top:20px;

}
.demo{
    display:block;
    background-color: #1E90FF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width:75px;
    height:40px;
    margin: 0% auto;
    text-align: center;
}

.loginErrors{
    color:red;
    height: 20px;
    width:100%;
    font-size:16;
}
.errors{
    color:red;
    height: 20px;
    width:100%;
    font-size:16;
}

.formText{
    margin:0% auto;
    text-align: center;
}
.formText > p:first-child{
    font-size: 25px;
    margin-bottom:-15px;
}
///////////////////// Nav
.top-nav {
    display: flex;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background: white;
    align-items:center;
    vertical-align: center;
    margin: 0;
    padding: 0;
    overflow:hidden;
    margin-left:-10px;
    height:50px;
    margin-top:-8px;

}
.welcomeTitle{
    text-decoration: none;
    font-size: 15px;
    height: 25px;
    -ms-transform: translateY(-85%);
    transform: translateY(-85%);
    padding-left:5px;
    font-family: 'TradeGothicLTStd-BdCn20';
    font-weight:lighter;
    margin-top:9px;
}
.welcome--logo{
    width: 25px;
    height: 17px;
    margin-left:30px;
    margin-top:5px
    // margin-top:5px;
}
.button_container{
    position:relative;
    height: 30px;
    width:30px;
    margin-top:-16px;
    vertical-align: center;
    background-color: ghostwhite;
}
.dropdown {
    position: fixed;
    background: white;
    overflow:hidden;
    margin-top:-8px;
    top: 68px;
    right: 35px;
    width: 300px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    border-top: 0;
}
.dropdown > li{
    text-decoration: none;
}
.button{
    position:absolute;
    right: 50px;
    height:40px;
    width:45px;
    border-radius: 25px;
    background-color:white;
}
.button > img {
    width: 30px;
    height: 25px;
}
.topLi{
    pointer-events: none;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height:35px;
}
.topLi > h3{
    margin-left:35px;
    margin-top:-35px;
}
.topLi > p{
    margin-left:35px;
    margin-top:-15px;

}
.searchIcon{
    width:20px;
    height:20px;
    border: 1px solid grey;
    border-left: 0;
    margin-top:6px;
}
.sideBar{
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0%auto;
    width:12.5%;
    height:100%;
    padding-top:35px;
    // padding-right:70px;
    border-right: 1px solid ghostwhite;
    background-color:white;
    margin-top:44px;
}
.sideBar > ul > li > img{
    margin-bottom:-3px;
    padding-right:30px;
    width:20px;
    height:20px;
    text-align: center;
    // padding-left:10px;
}