html{
    font-family: Helvetica , sans-serif;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color:black
}
.top-nav {
    display: flex;
    border-bottom: 1px solid grey;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    // top:0;
    // overflow:hidden;
    align-items:center;
    // margin: auto;
    margin: 0;
    padding: 0;
    
}
section {
    display: flex
}
.nav-container-logo{
    margin-left: 50px;
    border-radius:10px;
}
body{
    background-color: white;
}

.login-form-container{
    // display:flex;
    // align-items: center;
    margin: 0% auto;
    border: 1px solid grey;
    width: 550px;
    height: 550px;
    margin-top: 200px;
    border-radius: 15px;
}
.login-form-box{
    width:100%;
    // height:100%;
    margin: 0% auto;
    // position:relative;
    // bottom:55px;
    // display:inline-flex;
    // margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom:50px;
    // padding-bottom:200px; 
    // margin   -top:100px;   
    // box-sizing: border-box;
    // top:25px
    // padding-bottom:15px;
}
.login-input{
    padding-left:20px;
}
input{
//   width: 100%;
//   padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #E0FFFF;
  border-color: #1E90FF;
  border-radius:5px;
  width: 275px;
  height:45px;
  color:#1E90FF;
  font-size:17px;
//   text-align: center;
// padding-left:20px;
//   margin-bottom:15px;
}
.hidden {
	display: none;
}
// .login-form{
//     display:flex;
//     align-items: center;
//     margin: 0% auto;
// }
.guest-container{
    // display:flex
}
.welcome--logo{
    width: 60px;
    height: 40px;
    // text-align: center;
}
.login--logo{
    padding-top:15px;
    display:flex;
    align-items:center;
    // justify-content: space-between;
    margin: 0% auto;
    width:100px;
    height:75px;
    // top:5px
}
.sessionHomeLink{
    width:10px;
}
.navSignIn{
    // text-decoration:  none;
    border: 1px solid lightblue;
    margin-right: 25px;
    color: lightblue;
    font-size: 20px;
}
.button_container{
    position:relative;
    height: 30px;
    width:30px;
}
.formLinks{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0px;
    top:10px;
    margin-top:18px;
    flex-direction: row;
    
}
.formLinks > a {
    text-decoration: none;
    color: #1E90FF;
    border-radius: 5px;
    // background-color: #1E90FF;
    width: 150px;
    display: flex;
    text-align: center;
    flex-direction: column;
    top:50%;
    font-weight: bolder;
    // margin-top:25px;
    // width:100px;
    // height:40px
    // height:40px;
    // text-align:center;
}
.dropdown {
    position: fixed;
    top: 68px;
    right: 35px;
    width: 300px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    // border: 1px solid red;
    border-top: 0;
}
.dropdown > li{
    text-decoration: none;
}
.button{
    position:absolute;
    right: 50px;
    height:40px;
    width:45px;
    border-radius: 25px;
    // top: -5px;
    // padding-right:50px;
    background-color:white;
    
}
.pfp{
    right:15px; 
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:50px;
    background-color: white;
    pointer-events: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
li {
  padding: 8px 12px;
  text-decoration: none;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
img{
    width: 30px;
    height: 25px;
}
.topLi{
    pointer-events: none;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height:35px;
}
.topLi > h3{
    // display: flex;
    margin-left:35px;
    // padding-bottom:50px;
    margin-top:-35px;
    // bottom:500px;
}
.topLi > p{
    margin-left:35px;
    margin-top:-15px;

}
.searchIcon{
    width:20px;
    height:20px;
    border: 1px solid grey;
    border-left: 0;
    margin-top:6px;
}
.welcomeTitle{
    text-decoration: none;
    font-size: 20px;
    height: 25px;
    // top:50%;
    // position: relative;
    // position: absolute;
//   top:;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left:100px;

    // top: 150px;
    // text-align: center;
}
.formText{
    margin:0% auto;
    // right: 50px
    text-align: center;
    // font-weight: lighter;
}
.formText > p:first-child{
    font-size: 25px;
    margin-bottom:-15px;
}
.session-submit{
    display:block;
    background-color: #1E90FF;
    border: none;
    color: white;
    // padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // height: 50px;
    // width:50px;
    font-size: 16px;
    border-radius: 5px;
    width:75px;
    height:40px;
    margin: 0% auto;
    text-align: center;
    // margin-top:25px;
    // padding-right:20px;
    margin-top:20px;

}
.demo{
    display:block;
    background-color: #1E90FF;
    border: none;
    color: white;
    // padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // height: 50px;
    // width:50px;
    font-size: 16px;
    border-radius: 5px;
    width:75px;
    height:40px;
    margin: 0% auto;
    text-align: center;
}
.dropPfp{
    position:relative;
    margin-top:5px;
}
.loginErrors{
    color:red;
    height: 20px;
    width:100%;
    font-size:16;
}
.errors{
    color:red;
    height: 20px;
    width:100%;
    font-size:16;
}